<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <!-- add icon link -->
  <link rel = "shortcut icon" type="image/x-icon" href="/NewFavicon">
  <title>File Viewer</title>
</head>
<body class="w3-black">
  <header><h1>File Viewer</h1></header>
  <main>
    <section><button id="b1">Inspect</button></section>
    <section><p>Result</p></section>
  </main>
  <footer></footer>
</body>
<script>
  // const inspector = require('../inspectDir');

  // document.getElementById("b1").onclick = ()=>{
  //   console.log(`Result: ${inspector.inspectDir(path)}`);
  // }
</script>
</html>Result: HTTPServer.js  inspectDir.js undefinedResult: HTTPServer.js  inspectDir.js undefined