<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directory Inspector</title>
</head>
<body>
  <header><h1>Directory Inspector</h1></header>
  <main>
    <section><button id="b1">Inspect</button></section>
    <section><p>Result: .git  .gitignore  desktop.ini  HTTPServer.js  images/  inspectDir.js  myWebPage.html  README.md  views/ </p></section>
  </main>
  <footer></footer>
</body>
<script>
  // const inspector = require('../inspectDir');

  // document.getElementById("b1").onclick = ()=>{
  //   console.log(`Result: ${inspector.inspectDir(path)}`);
  // }
</script>
</html>