<!DOCTYPE html>
<html>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- add icon link -->
  <link rel = "shortcut icon" type="image/x-icon" href="/NewFavicon">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <title>My Web Page by Carlos Escalona</title>
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
/* @media only screen and (max-width: 600px) {header,main,footer {margin-left: 0}} */
</style>
<body class="w3-black">
  <script></script>
  <!-- Page Content -->
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Hi!</span> Welcome!</h1>
  </header>
  <main>
    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">Here you can find interesting tools:</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>
        <ul>
          <li>Library</li>
          <li>File Viewer</li>
          <li>Server Status</li>
        </ul>
      </p>
    </div>

    <!-- Contact Section -->
    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">Library</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Add a book to our library:</p>
      <form action="/books" method="POST">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Title" required name="Title"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Author" required name="Author"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="submit">
            <i class="fa fa-paper-plane"></i> POST
          </button>
        </p>
      </form>
    </div>
  </main>
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>
  <!-- END PAGE CONTENT -->
</body>
</html>